<h2>This is the sign-in component heading.</h2>
<form #signinForm="ngForm" (ngSubmit)="onSubmit(signinForm)">
  <label for="email">Email: </label>
  <input
    type="email"
    name="email"
    [(ngModel)]="signinForm.value.email"
    placeholder="Email address"
  />
  <label for="password">Password: </label>
  <input
    type="password"
    name="password"
    [(ngModel)]="signinForm.value.password"
    placeholder="Password"
  />
  <input type="submit" value="Sign in to your account" />
</form>
