<h2>This is the signup component heading.</h2>
<form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
  <label for="firstName"></label>
  <input
    type="text"
    name="firstName"
    [(ngModel)]="signupForm.value.firstName"
    placeholder="First name"
  />
  <label for="lastName"></label>
  <input
    type="text"
    name="lastName"
    [(ngModel)]="signupForm.value.lastName"
    placeholder="Last name"
  />
  <label for="email"></label>
  <input
    type="email"
    name="email"
    [(ngModel)]="signupForm.value.email"
    placeholder="Email address"
  />
  <label for="password"></label>
  <input
    type="password"
    name="password"
    [(ngModel)]="signupForm.value.password"
    placeholder="Password"
  />
  <label for="confirmPassword"></label>
  <input
    type="password"
    name="confirmPassword"
    [(ngModel)]="signupForm.value.confirmPassword"
    placeholder="Confirm password"
  />
  <input type="submit" value="Create new user" />
</form>

<div *ngIf="userResponse">
  Welcome to Falcon Investments, {{ userResponse.firstName }}!<br />
  Your user ID is {{ userResponse.id }}. And your password was encrypted:<br />
  {{ userResponse.password }}
</div>
